.product_page {
    background: #f8f8e5;

    .product_content {
        padding: 30px;

        .detail_info {
            display: flex;
            align-items: center;

            .detail_info_img {
                width: 200px;
                margin-right: 20px;
                img {
                    display: block;
                    max-width: 100%;
                }
            }

            .detail_info_intro {
                display: flex;
                flex-direction: column;

                p {
                    margin-bottom: 5px;
                }
            }
        }

        .goods_title {
            margin: 42px 0 16px 0;

            &:nth-of-type(1) {
                margin-top: 0;
            }
        }

        .MuiTypography-root {
            word-wrap: break-word;
            word-break: break-all;
        }
    }
}
